In [1]:
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
from splinter import Browser
import pandas as pd

In [2]:
executable_path = {"executable_path": ChromeDriverManager().install()}
browser = Browser("chrome", **executable_path, headless=False)

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 89.0.4389
[WDM] - Get LATEST driver version for 89.0.4389
[WDM] - Driver [C:\Users\freak\.wdm\drivers\chromedriver\win32\89.0.4389.23\chromedriver.exe] found in cache

In [3]:
url = "https://www.trulia.com/TX/"

In [4]:
cities = [
    'Dallas', 
    'Frisco', 
    'Plano', 
    'Fort_Worth',
    'Garland',
    'Irving',
    'Arlington', 
    'Carrollton'
]
price_list = []
bed_list = []
bath_list = []
sqft_list = []
address_list = []
city_list = []

In [5]:
# Retrieve data: Price, # of beds, # of baths, sqft, address, area of Dallas
for c in cities:
    browser.visit(url + c + '/')

    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')

    price = soup.find_all('div', class_="Text__TextBase-sc-1cait9d-0-div Text__TextContainerBase-sc-1cait9d-1 keMYfJ")
    for p in price:
        price_list.append(p.text)

    bed_bath = soup.find_all('div', class_="MediaBlock__MediaContent-skmvlj-1 jNJnVO")
    for b in bed_bath:
    # bed_list = [b.text for b in bed_bath]
        if b.text[-1] == 'd':
            bed_list.append(b.text)
        elif b.text[-1] == 'a':
            bath_list.append(b.text)

    loc = soup.find_all('div', class_="Text__TextBase-sc-1cait9d-0-div Text__TextContainerBase-sc-1cait9d-1 dZyoXR")

    for s in loc:
        if s.text[-4:] == 'sqft':
            sqft_list.append(s.text)
        elif s.text[-4:] == ', TX':
            city_list.append(s.text)
        else:
            address_list.append(s.text)
            
print(len(price_list))
print(len(bed_list))
print(len(bath_list))
print(len(sqft_list))
print(len(address_list))
print(len(city_list))

240
240
240
240
240
240

In [6]:
# for i in range(30):
# url = "https://www.trulia.com/TX/Dallas/"
# browser.visit(url)
# xpath = '//h3'
# results = browser.find_by_xpath(xpath)
# img = results[1]
# img.click()

In [7]:
df = pd.DataFrame({"Price": price_list, 
                   "# of Beds": bed_list, 
                   "# of Baths": bath_list, 
                  "sqft": sqft_list, 
                   "Address": address_list, 
                   "City": city_list})
df

,Price,# of Beds,# of Baths,sqft,Address,City
0,"$245,000",4bd,2ba,"2,200 sqft",2827 Curvilinear Ct,"Southeast Dallas, Dallas, TX"
1,"$475,000",3bd,2ba,"2,089 sqft",7036 Winchester St,"Northeast Dallas, Dallas, TX"
2,"$275,000",4bd,2ba,"1,800 sqft",132 W Woodin Blvd,"Cedar Crest, Dallas, TX"
3,"$209,900",3bd,2ba,"1,902 sqft",7311 Hardwood Trl,"Southwest Dallas, Dallas, TX"
4,"$225,000",5bd,2ba,"2,500 sqft",2720 E Atoll Dr,"Cedar Crest, Dallas, TX"
...,...,...,...,...,...,...
235,"$425,000",4bd,2ba,"2,666 sqft",3817 Harrison Dr,"Indian Creek, Carrollton, TX"
236,"$350,000",4bd,3ba,"2,368 sqft",2517 Rosebud Cir,"Carrollton Summertree, Carrollton, TX"
237,"$399,900",4bd,3ba,"2,723 sqft",4216 Eastwood Dr,"Oak Hills, Carrollton, TX"
238,"$398,750",4bd,3ba,"2,347 sqft",1514 Northland St,"Trinity Mills, Carrollton, TX"
239,"$310,000",2bd,3ba,"1,940 sqft",4121 Indian Run Dr,"Indian Creek, Carrollton, TX"

In [8]:
browser.quit()

In [9]:
df.to_csv("Trulia_Scrape.csv")